# Node
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
ENV/
venv/

# Vite/React
client/dist/
client/.vite/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Model files
# ml-model/model.pkl
